.commitPage {
  .defaultPage;

  .file {
    background: #F4EBD1;
    border: 1px solid @standard-border-color;
    padding: 10px;
    margin: 10px 20px;

    .fileName {
      padding: 0px 5px 5px;
    }

    .fileComparator {
      width: 100%;
      overflow: hidden;
      table-layout: fixed;
      border-spacing: 5px;

      .before, .after {
        border: 1px solid @standard-border-color;
        background-color: white;
        margin: 10px;
        width: 50%;
        overflow-x: auto;
        padding: 0;
        vertical-align: top;

        div {
          display: inline-block;
          min-width: 100%;
        }
      }

      pre {
        margin: 0;
        color: #000;
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 11px;
        line-height: 16px;
        height: 16px;


        > .lineNumber {
          display: inline-block;
          font-size: 11px;
          color: #ccc;
          border-right: 1px solid #ccc;
          text-align: right;
          padding: 0 4px 0 3px;
        }

        > .line {
          display: inline-block;
          padding-left: 3px;

        }

        > .separator-top {
          background: url(../graph/filebreaker-top.png);
          height: 16px;
          display: block;
        }

        > .separator-bottom {
          background: url(../graph/filebreaker-bottom.png);
          height: 16px;
          display: block;
        }

        &.placeholder {
          background: url(../graph/empty-background.png);
        }

        &:hover {
          cursor: pointer;
          background-color: #fff591;

          > span.line, > span.lineNumber {
            background-color: #fff591 !important;
          }
        }

        &.added {
          > span.line, > span.lineNumber {
            background-color: rgb(193, 255, 194);
          }
        }

        &.deleted {
          > span.line, > span.lineNumber {
            background-color: #ffced1;
          }
        }

        &.modifiedFrom {
          > span.line, > span.lineNumber {
            background-color: rgb(233, 248, 255);
          }
        }

        &.modifiedTo {
          > span.line, > span.lineNumber {
            background-color: rgb(233, 248, 255);
          }
        }
      }
    }
  }

}
