.repositoryPage {
  .defaultPage;

  .commit {
    .standardBox;


    width: 400px;
    height: 60px;

    font-size: 13px;

    .author {
      display: block;
      font-weight: bold;
      margin-bottom: 4px;
    }

    .message {

    }
  }
}
