.repositoryPage {
  .defaultPage;

  .commits {
    border: 1px solid @standard-border-color;
    background-color: @standard-button-color;
    padding: 5px;
    margin: 20px;
    display: block;

  }

  .commit {

    background-color: @standard-button-color;
    padding: 5px;
    margin: 20px;
    display: block;
    overflow: hidden;
    font-size: 13px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      background-color: @standard-hover-color;
    }

    .message {
      margin-top: 4px;
      font-weight: bold;
    }

    .filesCount {
      margin-top: 4px;
      white-space: nowrap;
    }

    .author {
    }

    .authorEmail {
      visibility: hidden;
    }

    .time {
      font-weight: bold;
    }
  }

  .loadMoreCommits {
    .commit;

    font-weight: bold;
    text-align: center;

  }
}
