html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body {
  margin: 0px;
  color: #333333;
}
a {
  color: #000000;
  cursor: pointer;
}
.standardBox {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
}
.standardBox:hover {
  background-color: #fafafa;
}
.defaultPage .header {
  position: relative;
  height: 30px;
  border: 1px solid #E1E1E1;
  background-color: #fafafa;
}
.defaultPage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.defaultPage .header .banner a {
  text-decoration: none;
}
.defaultPage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.homePage .header {
  position: relative;
  height: 30px;
  border: 1px solid #E1E1E1;
  background-color: #fafafa;
}
.homePage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.homePage .header .banner a {
  text-decoration: none;
}
.homePage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.homePage .addProject {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.homePage .addProject:hover {
  background-color: #fafafa;
}
.homePage .registerUser {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.homePage .registerUser:hover {
  background-color: #fafafa;
}
.loginPage .banner {
  position: absolute;
  left: 160px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #435786;
}
.loginPage .banner a {
  text-decoration: none;
}
.loginPage .horizontalBar {
  position: absolute;
  left: 150px;
  width: 300px;
  top: 0;
  bottom: 0;
  border: 1px solid #E1E1E1;
  background-color: #fafafa;
}
.loginPage .verticalBar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 150px;
  height: 200px;
  border: 1px solid #E1E1E1;
  background-color: #FDFDFD;
}
.loginPage .mainForm {
  position: absolute;
  left: 150px;
  top: 150px;
  width: 258px;
  height: 158px;
  background-color: #fff;
  border: 2px solid #435786;
  padding: 20px;
}
.loginPage .mainForm input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 246px;
  padding: 4px;
}
.loginPage .mainForm label {
  display: block;
}
.loginPage .mainForm button {
  padding: 4px 20px;
  float: right;
}
.loginPage .navigation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 16px;
}
.loginPage .formName {
  position: absolute;
  color: #eee;
  font-size: 50px;
  text-transform: lowercase;
  left: 470px;
  top: 370px;
}
.registerPage .banner {
  position: absolute;
  left: 160px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #435786;
}
.registerPage .banner a {
  text-decoration: none;
}
.registerPage .horizontalBar {
  position: absolute;
  left: 150px;
  width: 300px;
  top: 0;
  bottom: 0;
  border: 1px solid #E1E1E1;
  background-color: #fafafa;
}
.registerPage .verticalBar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 150px;
  height: 325px;
  border: 1px solid #E1E1E1;
  background-color: #FDFDFD;
}
.registerPage .mainForm {
  position: absolute;
  left: 150px;
  top: 150px;
  width: 258px;
  height: 283px;
  background-color: #fff;
  border: 2px solid #435786;
  padding: 20px;
}
.registerPage .mainForm input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 246px;
  padding: 4px;
}
.registerPage .mainForm label {
  display: block;
}
.registerPage .mainForm button {
  padding: 4px 20px;
  float: right;
}
.registerPage .navigation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 16px;
}
.registerPage .formName {
  position: absolute;
  color: #eee;
  font-size: 50px;
  text-transform: lowercase;
  left: 470px;
  top: 495px;
}
.projectPage .header {
  position: relative;
  height: 30px;
  border: 1px solid #E1E1E1;
  background-color: #fafafa;
}
.projectPage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.projectPage .header .banner a {
  text-decoration: none;
}
.projectPage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.projectPage .addRepository {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.projectPage .addRepository:hover {
  background-color: #fafafa;
}
.repositoryPage .header {
  position: relative;
  height: 30px;
  border: 1px solid #E1E1E1;
  background-color: #fafafa;
}
.repositoryPage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.repositoryPage .header .banner a {
  text-decoration: none;
}
.repositoryPage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.repositoryPage .commit {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  width: 400px;
  height: 60px;
  font-size: 13px;
}
.repositoryPage .commit:hover {
  background-color: #fafafa;
}
.repositoryPage .commit .author {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}
.addRepositoryPage .banner {
  position: absolute;
  left: 160px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #435786;
}
.addRepositoryPage .banner a {
  text-decoration: none;
}
.addRepositoryPage .horizontalBar {
  position: absolute;
  left: 150px;
  width: 500px;
  top: 0;
  bottom: 0;
  border: 1px solid #E1E1E1;
  background-color: #fafafa;
}
.addRepositoryPage .verticalBar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 150px;
  height: 195px;
  border: 1px solid #E1E1E1;
  background-color: #FDFDFD;
}
.addRepositoryPage .mainForm {
  position: absolute;
  left: 150px;
  top: 150px;
  width: 458px;
  height: 153px;
  background-color: #fff;
  border: 2px solid #435786;
  padding: 20px;
}
.addRepositoryPage .mainForm input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 446px;
  padding: 4px;
}
.addRepositoryPage .mainForm label {
  display: block;
}
.addRepositoryPage .mainForm button {
  padding: 4px 20px;
  float: right;
}
.addRepositoryPage .navigation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 16px;
}
.addRepositoryPage .formName {
  position: absolute;
  color: #eee;
  font-size: 50px;
  text-transform: lowercase;
  left: 670px;
  top: 365px;
}
.addProjectPage .banner {
  position: absolute;
  left: 410px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #435786;
}
.addProjectPage .banner a {
  text-decoration: none;
}
.addProjectPage .horizontalBar {
  position: absolute;
  left: 400px;
  width: 300px;
  top: 0;
  bottom: 0;
  border: 1px solid #E1E1E1;
  background-color: #fafafa;
}
.addProjectPage .verticalBar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100px;
  height: 130px;
  border: 1px solid #E1E1E1;
  background-color: #FDFDFD;
}
.addProjectPage .mainForm {
  position: absolute;
  left: 400px;
  top: 100px;
  width: 258px;
  height: 88px;
  background-color: #fff;
  border: 2px solid #435786;
  padding: 20px;
}
.addProjectPage .mainForm input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 246px;
  padding: 4px;
}
.addProjectPage .mainForm label {
  display: block;
}
.addProjectPage .mainForm button {
  padding: 4px 20px;
  float: right;
}
.addProjectPage .navigation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 16px;
}
.addProjectPage .formName {
  position: absolute;
  color: #eee;
  font-size: 50px;
  text-transform: lowercase;
  left: 720px;
  top: 250px;
}
.userProjects .project {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.userProjects .project:hover {
  background-color: #fafafa;
}
.fileComparator {
  overflow: hidden;
}
.fileComparator > .before {
  width: 48%;
  float: left;
  overflow: scroll;
}
.fileComparator > .after {
  width: 48%;
  float: right;
  overflow: scroll;
}
.fileComparator pre {
  margin: 0;
  color: #555;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 13px;
  line-height: 17px;
}
.fileComparator pre.add {
  margin: 0;
  background-color: #c1ffc2;
}
.fileComparator pre.delete {
  margin: 0;
  background-color: #ffced1;
}
