html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
body {
  margin: 0px;
  color: #333333;
  background-color: #FCF6E2;
}
a {
  color: #000000;
  cursor: pointer;
}
.standardBox {
  border: 1px solid #e1d6b7;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
}
.standardBox:hover {
  background-color: #fafafa;
}
.defaultPage .header {
  position: relative;
  height: 30px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.defaultPage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.defaultPage .header .banner a {
  text-decoration: none;
}
.defaultPage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.homePage .header {
  position: relative;
  height: 30px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.homePage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.homePage .header .banner a {
  text-decoration: none;
}
.homePage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.homePage .addProject {
  border: 1px solid #e1d6b7;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.homePage .addProject:hover {
  background-color: #fafafa;
}
.homePage .registerUser {
  border: 1px solid #e1d6b7;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.homePage .registerUser:hover {
  background-color: #fafafa;
}
.loginPage .banner {
  position: absolute;
  left: 160px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #435786;
}
.loginPage .banner a {
  text-decoration: none;
}
.loginPage .horizontalBar {
  position: absolute;
  left: 150px;
  width: 300px;
  top: 0;
  bottom: 0;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.loginPage .verticalBar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 150px;
  height: 200px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.loginPage .mainForm {
  position: absolute;
  left: 150px;
  top: 150px;
  width: 258px;
  height: 158px;
  background-color: #fff;
  border: 2px solid #435786;
  padding: 20px;
}
.loginPage .mainForm input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 246px;
  padding: 4px;
}
.loginPage .mainForm label {
  display: block;
}
.loginPage .mainForm button {
  padding: 4px 20px;
  float: right;
}
.loginPage .navigation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 16px;
}
.loginPage .formName {
  position: absolute;
  color: #EBE0BF;
  font-size: 50px;
  text-transform: lowercase;
  left: 470px;
  top: 370px;
}
.registerPage .banner {
  position: absolute;
  left: 160px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #435786;
}
.registerPage .banner a {
  text-decoration: none;
}
.registerPage .horizontalBar {
  position: absolute;
  left: 150px;
  width: 300px;
  top: 0;
  bottom: 0;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.registerPage .verticalBar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 150px;
  height: 325px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.registerPage .mainForm {
  position: absolute;
  left: 150px;
  top: 150px;
  width: 258px;
  height: 283px;
  background-color: #fff;
  border: 2px solid #435786;
  padding: 20px;
}
.registerPage .mainForm input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 246px;
  padding: 4px;
}
.registerPage .mainForm label {
  display: block;
}
.registerPage .mainForm button {
  padding: 4px 20px;
  float: right;
}
.registerPage .navigation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 16px;
}
.registerPage .formName {
  position: absolute;
  color: #EBE0BF;
  font-size: 50px;
  text-transform: lowercase;
  left: 470px;
  top: 495px;
}
.projectPage .header {
  position: relative;
  height: 30px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.projectPage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.projectPage .header .banner a {
  text-decoration: none;
}
.projectPage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.projectPage .addRepository {
  border: 1px solid #e1d6b7;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.projectPage .addRepository:hover {
  background-color: #fafafa;
}
.repositoryPage .header {
  position: relative;
  height: 30px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.repositoryPage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.repositoryPage .header .banner a {
  text-decoration: none;
}
.repositoryPage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.repositoryPage .commit {
  border: 1px solid #e1d6b7;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  width: 400px;
  min-height: 60px;
  overflow: hidden;
  font-size: 13px;
}
.repositoryPage .commit:hover {
  background-color: #fafafa;
}
.repositoryPage .commit .message {
  clear: both;
  font-weight: bold;
}
.repositoryPage .commit .filesCount {
  white-space: nowrap;
}
.repositoryPage .commit .author {
  margin-top: 7px;
  display: block;
}
.repositoryPage .commit .time {
  display: inline-block;
}
.addRepositoryPage .banner {
  position: absolute;
  left: 160px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #435786;
}
.addRepositoryPage .banner a {
  text-decoration: none;
}
.addRepositoryPage .horizontalBar {
  position: absolute;
  left: 150px;
  width: 500px;
  top: 0;
  bottom: 0;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.addRepositoryPage .verticalBar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 150px;
  height: 195px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.addRepositoryPage .mainForm {
  position: absolute;
  left: 150px;
  top: 150px;
  width: 458px;
  height: 153px;
  background-color: #fff;
  border: 2px solid #435786;
  padding: 20px;
}
.addRepositoryPage .mainForm input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 446px;
  padding: 4px;
}
.addRepositoryPage .mainForm label {
  display: block;
}
.addRepositoryPage .mainForm button {
  padding: 4px 20px;
  float: right;
}
.addRepositoryPage .navigation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 16px;
}
.addRepositoryPage .formName {
  position: absolute;
  color: #EBE0BF;
  font-size: 50px;
  text-transform: lowercase;
  left: 670px;
  top: 365px;
}
.addProjectPage .banner {
  position: absolute;
  left: 410px;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #435786;
}
.addProjectPage .banner a {
  text-decoration: none;
}
.addProjectPage .horizontalBar {
  position: absolute;
  left: 400px;
  width: 300px;
  top: 0;
  bottom: 0;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.addProjectPage .verticalBar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 100px;
  height: 130px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.addProjectPage .mainForm {
  position: absolute;
  left: 400px;
  top: 100px;
  width: 258px;
  height: 88px;
  background-color: #fff;
  border: 2px solid #435786;
  padding: 20px;
}
.addProjectPage .mainForm input {
  margin-top: 5px;
  margin-bottom: 15px;
  display: block;
  width: 246px;
  padding: 4px;
}
.addProjectPage .mainForm label {
  display: block;
}
.addProjectPage .mainForm button {
  padding: 4px 20px;
  float: right;
}
.addProjectPage .navigation {
  position: absolute;
  bottom: 40px;
  right: 50px;
  font-size: 16px;
}
.addProjectPage .formName {
  position: absolute;
  color: #EBE0BF;
  font-size: 50px;
  text-transform: lowercase;
  left: 720px;
  top: 250px;
}
.commitPage .header {
  position: relative;
  height: 30px;
  border: 1px solid #e1d6b7;
  background-color: #F4EBD1;
}
.commitPage .header .banner {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: bold;
  margin: 6px;
}
.commitPage .header .banner a {
  text-decoration: none;
}
.commitPage .header .userInfo {
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
}
.commitPage .file {
  background: #F4EBD1;
  border: 1px solid #e1d6b7;
  padding: 10px;
  margin: 10px 20px;
}
.commitPage .file .fileName {
  padding: 0px 5px 5px;
}
.commitPage .file .fileComparator {
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  border-spacing: 5px;
}
.commitPage .file .fileComparator .before,
.commitPage .file .fileComparator .after {
  border: 1px solid #e1d6b7;
  background-color: white;
  padding: 5px;
  margin: 10px;
  width: 50%;
  overflow-x: auto;
}
.commitPage .file .fileComparator .before div,
.commitPage .file .fileComparator .after div {
  display: inline-block;
  min-width: 100%;
}
.commitPage .file .fileComparator pre {
  margin: 0;
  color: #000;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 11px;
  line-height: 16px;
  height: 16px;
}
.commitPage .file .fileComparator pre.placeholder {
  background: url(../graph/empty-background.png);
}
.commitPage .file .fileComparator pre:hover {
  cursor: pointer;
  background-color: #fff591;
}
.commitPage .file .fileComparator pre:hover > span {
  background-color: #fff591 !important;
}
.commitPage .file .fileComparator pre > span {
  display: inline-block;
}
.commitPage .file .fileComparator pre > span.added {
  background-color: #c1ffc2;
}
.commitPage .file .fileComparator pre > span.deleted {
  background-color: #ffced1;
  text-decoration: line-through;
}
.commitPage .file .fileComparator pre > span.modifiedFrom {
  background-color: #e9f8ff;
}
.commitPage .file .fileComparator pre > span.modifiedTo {
  background-color: #e9f8ff;
}
.userProjects .projectWithRepositories {
  background: #F4EBD1;
  border: 1px solid #e1d6b7;
  padding: 10px;
  margin: 10px 20px;
}
.userProjects .projectWithRepositories .project {
  display: block;
}
.userProjects .projectWithRepositories .repository {
  border: 1px solid #e1d6b7;
  background-color: #ffffff;
  padding: 5px;
  margin: 20px;
  text-decoration: none;
  display: block;
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.userProjects .projectWithRepositories .repository:hover {
  background-color: #fafafa;
}
