<div>
    <div>
        This is adding repository page
    </div>

    <div>
        <a href="#/home">Go home</a>

        <div ng-show="formVisible">
            <div>
                Remote repository url:
                <input type="text" ng-model="form.cloneUrl" />
            </div>
            <div>
                Repository name:
                <input type="text" ng-model="form.repoName" />
            </div>
            <div>
                <button ng-click="addRepository()">Add repository</button>
            </div>
        </div>

        <div ng-show="successMessageVisible">
            Repository {{ form.repoName }} has been cloned successfully.
            <a ng-href="/repository/{{ repositoryId }}">Go to repository</a>
        </div>

    </div>
</div>
