<div class="addRepositoryPage">




    <div class="horizontalBar"></div>
    <div class="verticalBar"></div>

    <div class="mainForm">


        <div ng-show="formVisible">
            <label>Repository name</label>
            <input type="text" ng-model="form.repoName"/>
            <label>Remote repository url</label>
            <input type="text" ng-model="form.cloneUrl"/>
            <button ng-click="addRepository()">Add repository</button>
        </div>

        <div ng-show="successMessageVisible">
            Repository {{ form.repoName }} has been cloned successfully.
            <a ng-href="#/repository/{{ repositoryId }}/{{ form.repoName }}">Go to repository</a>
        </div>

    </div>
    <div class="formName">Add new repository</div>

    <div class="banner">
        <a href="#/home">Code Review</a>
    </div>

    <div class="navigation">
        <mp-user-info></mp-user-info>
    </div>
</div>
