<div class="commitPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
            / Repository {{ repositoryId }}
        </div>

        <mp-user-info></mp-user-info>
    </div>

    <div class="standardBox">

        <b>{{ info.message }}</b><br/>
        {{ info.hash }} <br/>
        {{ info.commiter }} <br/>
        {{ info.author }} <br/>
        {{ info.time }} <br/>
        {{ files.length }}
    </div>


    <div ng-repeat="file in files">

        <div class="file">

             <div class="fileName">
                 <span ng-show="file.changeType == 'Add'">
                     Added {{ file.toPath[0] }}
                 </span>
                 <span ng-show="file.changeType == 'Modify'">
                     Modified {{ file.fromPath[0] }}
                 </span>
                 <span ng-show="file.changeType == 'Delete'">
                     Deleted {{ file.fromPath[0] }}
                 </span>
                 <span ng-show="file.changeType == 'Rename'">
                     Renamed from <div class="fromFileName">{{ file.fromPath[0] }}</div>
                     to <div class="toFileName">{{ file.toPath[0] }}</div>
                 </span>
                 <span ng-show="file.changeType == 'Copy'">
                     Copied from <div class="fromFileName">{{ file.fromPath[0] }}</div>
                     to <div class="toFileName">{{ file.file.toPath[0] }}</div>
                 </span>

             </div>


            <div>
                <table class="fileComparator">
                    <tr>
                        <td class="before">
                            <div>
                                <pre ng-repeat="line in file.processed.from" ng-class="line.change" ng-show="line.visible != 'hidden'"><span ng-class="line.visible"></span><span ng-show="line.visible == 'visible'" class="lineNumber">{{line.number}}</span><span ng-show="line.visible == 'visible'" class="line">{{line.content}}</span></pre>
                            </div>
                        </td>
                        <td class="after">
                            <div>
                                <pre ng-repeat="line in file.processed.to" ng-class="line.change" ng-show="line.visible != 'hidden'"><span ng-class="line.visible"></span><span ng-show="line.visible == 'visible'" class="lineNumber">{{line.number}}</span><span ng-show="line.visible == 'visible'" class="line">{{line.content}}</span></pre>
                             </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>


    </div>

</div>
