<div class="commitPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
            / Repository {{ repositoryId }}
        </div>

        <mp-user-info></mp-user-info>
    </div>

    <div class="standardBox">

        hash: {{ commit.info.hash }} <br />
        commiter: {{ commit.info.commiter }} <br />
        author: {{ commit.info.author }} <br />
        commited: {{ commit.info.time }} <br />
        message: {{ commit.info.message }}<br />
        files: {{ commit.files.length }}
    </div>

    <div ng-repeat="file in commit.files">

    </div>

    <div ng-repeat="file in files">

        change: {{ file.name.changeType }}
        <div ng-show="file.name.changeType == 'add'">
            +{{ file.name.newPath }}
        </div>
        <div ng-show="file.name.changeType == 'modify'">
            {{ file.name.path }}
        </div>
        <div ng-show="file.name.changeType == 'delete'">
            -{{ file.name.oldPath }}
        </div>
        <div ng-show="file.name.changeType == 'rename'">
            -{{ file.name.oldPath }} +{{ file.name.newPath }}
        </div>
        <div ng-show="file.file.changeType == 'copy'">
            {{ file.name.oldPath }} +{{ file.name.newPath }}
        </div>


        <div ng-show="file.content.changeType == 'add'">
            Added:
            <div class="fileComparator">
                <div class="before">
                    <pre></pre>
                </div>
                <div class="after">
                     <pre>{{ file.content.content }}</pre>
                </div>
            </div>

        </div>

        <div ng-show="file.content.changeType == 'modify'">
            Modified:

            <div class="fileComparator">
                <div class="before">

                    <pre ng-repeat="line in file.processed.from" ng-class="line.change">{{line.content}}</pre>

                    <!--<pre ng-repeat="line in content.fromLines track by $index" >{{ line.line }}</pre>-->
                </div>
                <div class="after">
                     <pre ng-repeat="line in file.processed.to" ng-class="line.change">{{line.content}}</pre>

                    <!--<pre ng-repeat="line in content.toLines track by $index" ng-class="line.change">{{ line.line }}</pre>-->
                </div>
            </div>
        </div>

        <div ng-show="file.content.changeType == 'delete'">
            Deleted:
            <div class="fileComparator">
                <div class="before">
                    <pre>{{ file.content.oldContent }}</pre>
                </div>
                <div class="after">
                    <pre></pre>
                </div>
            </div>
        </div>

        <div ng-show="file.content.changeType == 'rename'">
            Renamed:
            <div class="fileComparator">
                <div class="before">
                    <pre>{{ file.content.fromContent }}</pre>
                </div>
                <div class="after">
                    <pre>{{ file.content.toContent }}</pre>
                </div>
            </div>
        </div>

        <div ng-show="file.content.changeType == 'copy'">
            Copied:
            <div class="fileComparator">
                <div class="before">
                    <pre>{{ file.content.fromContent }}</pre>
                </div>
                <div class="after">
                    <pre>{{ file.content.toContent }}</pre>
                </div>
            </div>
        </div>


    </div>

</div>
