<div class="commitPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
            / Repository {{ repositoryId }}
        </div>

        <mp-user-info></mp-user-info>
    </div>

    <div class="standardBox">

        <b>{{ info.message }}</b><br/>
        {{ info.hash }} <br/>
        {{ info.commiter }} <br/>
        {{ info.author }} <br/>
        {{ info.time }} <br/>
        {{ files.length }}
    </div>


    <div ng-repeat="file in files">

        <div class="file">

             <div class="fileName">
                 <span ng-show="file.name.changeType == 'add'">
                     {{ file.name.newPath }}
                 </span>
                 <span ng-show="file.name.changeType == 'modify'">
                     {{ file.name.path }}
                 </span>
                 <span ng-show="file.name.changeType == 'delete'">
                     {{ file.name.oldPath }}
                 </span>
                 <span ng-show="file.name.changeType == 'rename'">
                     <div class="fromFileName">{{ file.name.oldPath }}</div>
                     <div class="toFileName">{{ file.name.newPath }}</div>
                 </span>
                 <span ng-show="file.file.changeType == 'copy'">
                     <div class="fromFileName">{{ file.name.oldPath }}</div>
                     <div class="toFileName">{{ file.name.newPath }}</div>
                 </span>

             </div>



            <div ng-show="file.content.changeType == 'add'">
                <table class="fileComparator">
                    <tr>
                        <td class="before">
                            <pre></pre>
                        </td>
                        <td class="after">
                            <pre>{{ file.content.content }}</pre>
                        </td>
                    </tr>
                </table>

            </div>

            <div ng-show="file.content.changeType == 'modify'">
                <table class="fileComparator">
                    <tr>
                        <td class="before">
                            <div>
                                <pre ng-repeat="line in file.processed.from"><span ng-class="line.change">{{line.content}}</span></pre>
                            </div>
                        </td>
                        <td class="after">
                            <div>
                                <pre ng-repeat="line in file.processed.to"><span ng-class="line.change">{{line.content}}</span></pre>
                             </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-show="file.content.changeType == 'delete'">
                <table class="fileComparator">
                    <tr>
                        <td class="before">
                            <pre>{{ file.content.oldContent }}</pre>
                        </td>
                        <td class="after">
                            <pre></pre>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-show="file.content.changeType == 'rename'">
                <table class="fileComparator">
                    <tr>
                        <td class="before">
                            <pre>{{ file.content.fromContent }}</pre>
                        </td>
                        <td class="after">
                            <pre>{{ file.content.toContent }}</pre>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-show="file.content.changeType == 'copy'">
                <table class="fileComparator">
                    <tr>
                        <td class="before">
                            <pre>{{ file.content.fromContent }}</pre>
                        </td>
                        <td class="after">
                            <pre>{{ file.content.toContent }}</pre>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>

</div>
