<div class="loginPage">

    <div ng-show="loginIncorrectVisible">
        Incorrect login or password.
    </div>



    <div class="horizontalBar"></div>
    <div class="verticalBar"></div>
    <form class="loginForm" ng-submit="loginUser()">
        <label>User</label>
        <input type="text" ng-model="userName" auto-focus />
        <label>Password</label>
        <input type="password" ng-model="password"/>
        <button type="submit">Login</button>

    </form>

    <div class="banner">
        <a href="#/home">Code Review</a>
    </div>

    <div class="navigation">
        <a href="#/register">Register</a>
    </div>

</div>
