<div>
    <div>
        This is user login page
    </div>

    <div>
        <a href="#/home">Go home</a>
        <a href="#/register">Register</a>

        <div ng-show="loginIncorrectVisible">
            Incorrect login or password.
        </div>

        <form ng-submit="loginUser()">

            <div>
                User:
                <input type="text" ng-model="userName"/>
            </div>
            <div>
                Password:
                <input type="password" ng-model="password"/>
            </div>
            <button type="submit">Login</button>

        </form>

    </div>

</div>
