<div class="projectRolesPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
            / project {{ project.name }}
        </div>

        <mp-user-info></mp-user-info>
    </div>

    <div>
        Project roles
        <a href="#" onclick="return false;" ng-show="canEditUsers" ng-click="showAddUserForm()">Add user</a>
    </div>

    <div ng-repeat="user in users">
        <span class="userName">
        {{ user.userName }}
        </span>

        <span class="userRole">
            <select ng-model="user.role" ng-options="role for role in availableRoles"
                    ng-focus="previousValueOfCurrentActiveControl = user.role"
                    ng-change="roleChanged(user, previousValueOfCurrentActiveControl)"
                    ng-disabled="user.disabled" ng-show="canEditUsers"></select>
            <span ng-hide="canEditUsers">{{user.role}}</span>
        </span>
        <span class="removeUser">
            <a href="#" onclick="return false;" ng-click="removeUser(user)" ng-hide="user.cancelRemoveVisible || !canEditUsers">Remove</a>
            <a href="#" onclick="return false;" ng-click="cancelRemoveUser(user)" ng-show="user.cancelRemoveVisible">Cancel remove</a>
        </span>

    </div>

    <div ng-show="addUserFormVisible">
        <input ng-model="usersQuery" ng-change="findUsers()">
        <div ng-repeat="user in foundUsers">
           {{user.name}}

           <select ng-model="user.newUserRole" ng-options="role for role in availableRoles"
                   ng-focus="previousValueOfCurrentActiveControl = user.role"
                   ng-change="addUser(user, user.newUserRole)"
                   ng-disabled="user.disabled">
               <option value="">Add user...</option>
           </select>
        </div>

    </div>

</div>
