<div class="projectRolesPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
            / project {{ project.name }}
        </div>

        <mp-user-info></mp-user-info>
    </div>

    <div>
        Project roles
    </div>

    <div ng-repeat="user in users">
        <select ng-model="user.role" ng-options="role for role in availableRoles" ng-change="roleChanged(user)" ng-disabled="user.disabled"></select>
        {{ user.userName }}
    </div>

</div>
