<div class="projectRolesPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
            / project {{ project.name }}
        </div>

        <mp-user-info></mp-user-info>
    </div>

    <div>
        Project roles
        <a href="#" onclick="return false;" ng-click="showAddUserForm()">Add user</a>
    </div>

    <div ng-repeat="user in users">
        <select ng-model="user.role" ng-options="role for role in availableRoles"
                ng-focus="previousValueOfCurrentActiveControl = user.role"
                ng-change="roleChanged(user, previousValueOfCurrentActiveControl)"
                ng-disabled="user.disabled"></select>
        {{ user.userName }}
        <a href="#" onclick="return false;" ng-click="removeUser(user)" ng-hide="user.cancelRemoveVisible">Remove</a>
        <a href="#" onclick="return false;" ng-click="cancelRemoveUser(user)" ng-show="user.cancelRemoveVisible">Cancel</a>
    </div>

    <div ng-show="addUserFormVisible">
        <input ng-model="usersQuery" ng-change="findUsers()">
        <div ng-repeat="user in foundUsers">
           {{user.name}}

           <select ng-model="user.newUserRole" ng-options="role for role in availableRoles"
                   ng-focus="previousValueOfCurrentActiveControl = user.role"
                   ng-change="addUser(user, user.newUserRole)"
                   ng-disabled="user.disabled">
               <option value="">Add user...</option>
           </select>
        </div>

    </div>

</div>
