<div class="projectPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
            / project {{ project.name }}
        </div>

        <mp-user-info></mp-user-info>
    </div>


    <div>
        <a ng-href="#/project/{{ project.id[0] }}/{{ project.name }}/roles">Project users</a>
    </div>

    <a ng-href="#/project/{{ project.id[0] }}/{{ project.name }}/add-repository" class="addRepository"
            ng-show="canAddRepository">Add repository</a>


    <div ng-repeat="repository in repositories">
        <a ng-href="#/repository/{{ repository.id[0] }}/{{ repository.name }}">{{ repository.name }}</a>
        Url: {{ repository.remoteUrl }}
        Last update time: {{ repository.lastUpdateTime }}
    </div>
</div>
