<div>
    <mp-user-info></mp-user-info>
    <div>
        This is user registration page
    </div>

    <div>
        <a href="#/home">Go home</a>

        <div ng-show="registerFormVisible">

            <form ng-submit="registerUser()">
                <div>
                    User name:
                    <input type="text" ng-model="form.userName"/>
                </div>
                <div>
                    Email:
                    <input type="text" ng-model="form.email"/>
                </div>
                <div>
                    Password:
                    <input type="password" ng-model="form.password"/>
                </div>
                <div>
                    Repeat password:
                    <input type="password" ng-model="form.passwordRepeat"/>
                </div>
                <button type="submit">Register</button>
             </form>
        </div>

        <div ng-show="registrationSuccessfulVisible">
            Registration was successful. You can now login:
            <a href="#/login">Login</a>
        </div>

        <div ng-show="userAlreadyRegistered">
            User {{ form.userName }} is already registered. Try to login:
            <a href="#/login">Login</a>
        </div>
    </div>

</div>
