<div class="registerPage">


    <div class="horizontalBar"></div>
    <div class="verticalBar"></div>

    <div class="mainForm">


        <div ng-show="registerFormVisible">

            <form ng-submit="registerUser()">
                <label>User name</label>
                <input type="text" ng-model="form.userName" auto-focus/>
                <label>Email address</label>
                <input type="text" ng-model="form.email"/>
                <button type="submit">Register</button>
             </form>
        </div>

        <div ng-show="registrationSuccessfulVisible">
            Registration was successful. You can now login:
            <a href="#/login">Login</a>
        </div>

        <div ng-show="userAlreadyRegistered">
            User {{ form.userName }} is already registered. Try to login:
            <a href="#/login">Login</a>
        </div>
    </div>

    <div class="formName">Register new user</div>


    <div class="banner">
        <a href="#/home">Code Review</a>
    </div>

    <div class="navigation">
        <mp-user-info></mp-user-info>
    </div>



</div>
