<div>
    <div>
        This is user registration page
    </div>

    <div>
        <a href="#/home">Go home</a>

        <div>
            User name:
            <input type="text" ng-model="userName"/>
        </div>
        <div>
            Email:
            <input type="text" ng-model="email"/>
        </div>
        <div>
            Password:
            <input type="password" ng-model="password"/>
        </div>
        <div>
            Repeat password:
            <input type="password" ng-model="passwordRepeat"/>
        </div>
        <button ng-click="registerUser()">Register</button>

    </div>

</div>
