<div class="repositoryPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
        </div>

        <mp-user-info></mp-user-info>
    </div>



    Welcome to repository {{ repositoryId }}

    <a ng-repeat="commit in commits" ng-href="#/commit/{{ repositoryId }}/{{ commit.info.id[0] }}" class="commit">
        <span class="author">{{ commit.info.author }}</span>
        <span class="message">{{ commit.info.message }}</span>
        <!--author: {{ commit.info.author }} <br />-->
        <!--commited: {{ commit.info.time }} <br />-->
        <!--<a ng-href="#/commit/{{ repositoryId }}/{{ commit.info.id[0] }}">message: {{ commit.info.message }}</a><br />-->
        <!--files: {{ commit.files.length }}-->

    </a>

</div>
