<div class="repositoryPage">

    <div class="header">
        <div class="banner">
            <a href="#/home">Code Review</a>
            / Repository {{ repositoryId }}
        </div>

        <mp-user-info></mp-user-info>
    </div>


    <a ng-repeat="commit in commits" ng-href="#/commit/{{ repositoryId }}/{{ commit.info.id[0] }}" class="commit">
        <span class="message">{{ commit.info.message }}</span>
        <span class="filesCount">({{ commit.files.length }} <span ng-show="commit.files.length == 1">file</span><span ng-show="commit.files.length != 1">files</span>)</span>
        <span class="author">{{ commit.info.author }}</span>
        <span class="author">{{ commit.info.authorEmail }}</span>
        <span class="time">{{commit.info.time}}</span>



        <!--author: {{ commit.info.author }} <br />-->
        <!--commited: {{ commit.info.time }} <br />-->
        <!--<a ng-href="#/commit/{{ repositoryId }}/{{ commit.info.id[0] }}">message: {{ commit.info.message }}</a><br />-->


    </a>

</div>
